[defaults]
inventory = inventory
remote_user = forge
roles_path = roles
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
gathering = smart
timeout = 30

[ssh_connection]
pipelining = True
